<a href="https://colab.research.google.com/github/Ajinkya6597/Practice/blob/main/Week_5_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to print even length words in a string using list comprehension


Example 1:
Input:
I am working at Almabetter

Output:
['am', 'at', 'Almabetter']

In [3]:
str1='i am working at almabetter'

In [4]:
even_len_words=[word for word in str1.split(' ') if len(word)%2==0]

In [5]:
print(even_len_words)

['am', 'at', 'almabetter']

**2. Write a python program to divide a list in halves, reverse each halve and concatenate both.**


Example 1:
Input:
[1, 2, 3, 4, 5, 6, 7, 8]

Output:
[4, 3, 2, 1, 8, 7, 6, 5]

Explanation:
Input List:[1, 2, 3, 4, 5, 6, 7, 8]

Splitted Lists: [1, 2, 3, 4] [5, 6, 7, 8]

Reversed list 1: [4, 3, 2, 1]

Reversed list 2: [8, 7, 6, 5]

Concatenated list: [4, 3, 2, 1, 8, 7, 6, 5]

In [6]:
 Input = [1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
list1 = [Input[i] for i in range(len(Input)) if i < len(Input)/2 ]
list2 = [Input[i] for i in range(len(Input)) if i >= len(Input)/2 ]
list3=[]
list3.extend(reversed(list1))
list3.extend(reversed(list2))
print(list3)

[4, 3, 2, 1, 8, 7, 6, 5]

**3. Write a python program by using the enumerate() function to get all the indexes for the integer 20 in the “nums” list.**

Example 1:
Input:
[10,15,20,25,30,14,20,19,34,14,20,12]

Output:
2,6,10,

In [12]:
input = [10,15,20,25,30,14,20,19,34,14,20,12]

In [23]:
lis= []
enu=enumerate(input)
print(enu)
for i in enu:
  if i[1] == 20:
    print(i[0],end=',')

<enumerate object at 0x7fccd4b48d80>
2,6,10,

**4. Write a python program to print fibonacci series upto 15 terms in python.**

In [24]:
n=15
a=0
b=1

if n==1:
  print(a , end=",")
else:
  print("Fibonacci Series:",a , end=",")
  print(b , end=",")
for i in range(2,n):
  c=a+b
  a=b
  b=c
  print(c , end=",")

Fibonacci Series: 0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,